<launch>
  <arg name="scene_name" default="asl_office_floor" />
  <arg name="visualize" default="false" />
  <arg name="debug" default="true"/> 

  <arg if="$(arg debug)" name="launch_prefix" default="gnome-terminal -x gdb -ex run --args"/>
  <arg unless="$(arg debug)" name="launch_prefix" default="gnome-terminal -x   "/>

  <node name="gsm_node" pkg="gsm_node" type="gsm_node" output="screen" args="-alsologtostderr" launch-prefix="$(arg launch_prefix)">
    <rosparam command="load" file="$(find gsm_node)/cfg/default.yaml" />
    <rosparam command="load" file="$(find gsm_node)/cfg/$(arg scene_name).yaml" />
    <param name="meshing/visualize" value="$(arg visualize)" />
  </node>
</launch>
